##
# DEV Junk
##
.DS_Store
.sass-cache
.directory
npm-debug*
node_modules
vendor
.svn
.map

##
# PROJECT ROOT
#
# Ignore everything in the root
# except the "wp-content" directory and config files.
##
/*

# We need these files and folders.
!.gitignore
!README.md
!LICENSE
!wp-content/

##
# WP-CONTENT
#
# Ignore everything in the "wp-content" directory,
# except the "plugins" and "themes" directories.
##
wp-content/*
!wp-content/plugins/
!wp-content/themes/

##
# PLUGINS
#
# Ignore everything in the "plugins" directory,
# except specified plugins.
##
wp-content/plugins/*
!wp-content/plugins/support-helphub

##
# THEMES
#
# Ignore everything in the "themes" directory,
# except specified themes.
##
wp-content/themes/*
!wp-content/themes/wporg
!wp-content/themes/wporg-support